.App {
    position: relative;
    overflow: hidden;
    padding-top: 10rem;
    .watermark {
        top: -80px;
        left: 0;
        position: absolute;
        font-size: 20rem;
        z-index: -1;
        color: #dae7ef;
        font-weight: bold;
        width: 340%;
    }
    .heading {
        font-weight: bold;
        font-size: 5rem;
    }
    .subheading {
        max-width: 34rem;
        font-size: 1.1rem;
        line-height: 1.6;
    }
}
